.add-cell {
  margin-bottom: 30px;

  &__show-form,
  &__submit-form {
    margin: $margin-auto;
    padding: 10px 15px;
    display: block;
  }

  &__fieldset {
    margin-bottom: 20px;
  }

  &__input-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__input {
    padding: 5px 10px;
  }
}
