.info-table {
  margin: $margin-auto;
  margin-bottom: 40px;
  text-align: center;
  border: 3px dashed black;
  border-spacing: 10px;
  border-collapse: collapse;

  & tr {
    border-bottom: 1px solid $black-color;
  }

  &__column-type {
    position: relative;
    font-size: 34px;
    line-height: 38px;
    border-right: 1px solid $black-color;
  }

  &__sort-button {
    position: relative;
    padding: 20px;
    width: 100%;

    &--sort-up::before,
    &--sort-down::before {
      position: absolute;
      content: "";
      top: 40%;
      right: 0%;
      width: 20px;
      height: 20px;
      background-image: url("../img/arrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--sort-up::before {
      transform: rotate(180deg);
    }

    &:hover,
    &:focus {
      background-color: rgb(99, 97, 97);
    }
  }

  &__user {
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: .6;
    }

    &:active {
      opacity: .3;
    }
  }

  & td {
    padding: 20px;
    font-size: 24px;
    line-height: 28px;
    border-right: 1px solid $black-color;
  }
}
