.info-table {
  margin: $margin-auto;
  margin-bottom: 40px;
  text-align: center;
  border: 3px dashed black;
  border-spacing: 10px;
  border-collapse: collapse;

  & tr {
    border-bottom: 1px solid $black-color;
  }

  &__column-type {
    position: relative;
    padding: 20px 30px 20px 15px;
    font-size: 34px;
    line-height: 38px;
    cursor: pointer;
    border-right: 1px solid $black-color;
    transition: opacity, .3s ease-out;

    &:hover,
    &:focus {
      opacity: .5;
    }

    &:active {
      opacity: .3;
    }

    &--sort-up svg {
      transform: rotate(180deg);
    }
  }

  &__sort-direction {
    position: absolute;
    top: 40%;
    right: 1%;
  }

  &__user {
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: .6;
    }

    &:active {
      opacity: .3;
    }
  }

  & td {
    padding: 20px;
    font-size: 24px;
    line-height: 28px;
    border-right: 1px solid $black-color;
  }
}
