$margin-auto: 0 auto;
$black-color: black;

* {
  box-sizing: border-box;
}

p, h1, h2, h3 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

@import "./blocks/universal-buttons/button.scss";
@import "./blocks/header/introductory-block.scss";
@import "./blocks/universal-buttons/load-icon.scss";
@import "./blocks/universla-blocks/error-block.scss";
@import "./blocks/main/add-cell.scss";
@import "./blocks/main/info-table.scss";
@import "./blocks/main/user-information.scss";

.header,
.main {
  margin: $margin-auto;
  width: 1000px;
}

.header {
  margin-bottom: 50px;
}
